.container {
    margin: auto;
    height: 800px;
    width: 1000px;
    display: flex;
}
.container_left {
padding-left: 10px;
padding-top: 15px;
padding-bottom: 20px;

}

.container_right {
   padding-left: 100px;
    padding-top: 15;
    padding-bottom: 20px;
    padding-right:20px;
    text-align: center;
}
